.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primario);
  color: white;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; /* Cambiado para que el header no se mueva con el scroll */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Asegura que el header esté por encima de otros elementos */
}

.header-logo {  
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 45px;
  height: auto;
  margin-right: 10px;
  padding-left: 10%;
}

.header-nav ul {
  list-style: none;
  display: flex;
  
  gap: 20px;
}

.header-nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.header-nav ul li a:hover {
  color: var(--color-terciario);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 50px;
}

.hamburger {
  padding-right: 3%;
  width: 30px;
  height: 3
  px;
  background-color: white;
  position: relative;
}

.hamburger:before,
.hamburger:after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

/* Mostrar el menú en dispositivos pequeños */
@media (max-width: 1050px) {
  .header-nav {
    position: fixed; /* Cambiado para que el menú no empuje los elementos hacia abajo */
    top: 60px; /* Ajustado para que el menú esté debajo de la cabecera */
    left: 0;
    width: 100%;
    background-color: var(--color-primario);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 99; /* Menú por debajo del header */
  }

  .header-nav.open {
    top: 15%;
    display: flex;
  }

  .header-nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
  }

  .menu-toggle {
    display: block;
  }

  .hamburger:before {
    top: 0;
    
  }

  .hamburger:after {
    top: 15;
  }
}
